@{
  Layout="Shared/_Layout.cshtml";
}

<br>
<br>
<h2>Featured band: @Model["band"].GetName()</h2>
<br>
<p>Venues this band has played at:</p>
<ul>
  @foreach (var venue in @Model["specificVenue"])
  {
    <li>@venue.GetName()</li>
  }
</ul>

<br>
<br>
<form action="/bands/@Model["band"].GetId()/band_edit" method="post">
  <input name="band-id" type="hidden" value="@Model["band"].GetId()">
  <label for="venue-name">Add venue to band</label>
  <select name="venue-id">
    @foreach (var venue in @Model["venue"])
    {
      <option value="@venue.GetId()">@venue.GetName()</option>
    }
  </select>
  <button type="submit">Add</button>
</form>
<br>
<br>
<p><a href="/">Return to Main Page</a></p>
